@import "tailwindcss";

@theme {
  --color-background: #0C0C0C;
  --color-text: #D3D3D3;
  --color-accent: #00BFFF;
  --color-accent-hover: #9B3922;
}

* {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
}

body {
  background-color: #0C0C0C;
}