# --- MongoDB Configuration ---
MONGO_URI=mongodb_uri_here

# --- Server Configuration ---
PORT=3000

# --- Cloudinary Configuration ---
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# --- JWT Configuration ---
JWT_SECRET=your_secret_jwt_key_here